.btn-section {
  text-align: center;
}
.btn {
  text-align: center;
  padding: 0.8rem;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  font-size: 1.1rem;
}
.btn:hover {
  transform: scale(0.99);
  background-color: lightgoldenrodyellow;
}
